<%-include("partials/header")-%>

<h1>Compose</h1>

<form action="/" method="post" class="compose">
    <label>Title</label>
    <input type="text" name="title" id="" autocomplete="off">
    <label>Post</label>
    <textarea name="text" id="" cols="30" rows="6"></textarea>
    <button type="submit">Publish</button>
</form>

<%-include("partials/footer")-%>